<!DOCTYPE html><html lang="ru-RU">
<head>
<!-- Meta Pixel Code -->






<!-- End Meta Pixel Code -->
<meta name="facebook-domain-verification" content="zrw7qbgiqw71kopzsqbtojcyn2foj7" />



	<title>Швейна Машинка 12в1</title>
	<meta name="description" content="Швейна Машина 12в1">
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=480">
	<link rel="stylesheet" type="text/css" href="https://sewing.notime.com.ua/css/A.reset.css.pagespeed.cf.IuvT8O7xZR.css">
	<link rel="stylesheet" type="text/css" href="https://sewing.notime.com.ua/css/A.AvenirNextCyr.css.pagespeed.cf.kabN8HDcs2.css">
	<link rel="stylesheet" type="text/css" href="https://sewing.notime.com.ua/css/A.owl.carousel.min.css.pagespeed.cf.mJZmRXu6OQ.css">
	<link rel="stylesheet" type="text/css" href="https://sewing.notime.com.ua/css/A.styles.css.pagespeed.cf.Wn5Nic8HPW.css">


</head>
<body>

	<div class="main_wrapper">

		<!-- header 3 -->

		<header class="offer_section offer3">
			<div class="title_block">
				<h1 class="main_title">Швейна Машина<br> MERK 12 в 1</h1>
				<p class="subtitle">КРАЩИЙ ВИБІР ДЛЯ НОВАЧКА І ПРОФЕСІОНАЛА!</p>
			</div>
			<div class="timer_block clearfix">
				<p>Ця пропозиція закінчиться через:</p>
				<div class="timer clearfix">
					<div class="timer_item">
						<div class="text">днів</div>
						<div class="count">00</div>
					</div>
					<div class="timer_item">
						<div class="text">годин</div>
						<div class="count hours"></div>
					</div>
					<div class="timer_item">
						<div class="text">хвилин</div>
						<div class="count minutes"></div>
					</div>
					<div class="timer_item">
						<div class="text">секунд</div>
						<div class="count seconds"></div>
					</div>
				</div>
			</div>
			<div class="image_block">
				<img class="offer_image" src="https://placehold.co/900x450/667eea/ffffff?text=Фото+товару" alt="Швейна машинка 12в1">
				<div class="discount_block">
					<div class="value">40%</div>
					<div class="text">знижка</div>
				</div>
			</div>
			<div class="benefits_list clearfix">
				<div class="benefit_item">100% гарантія якості</div>
				<div class="benefit_item">Оплата при отриманні!</div>
				<div class="benefit_item">Доставка <br>1-2 дні!<br></div>
			</div>
			<div class="price_block clearfix">
				<div class="price_item old">
					<div class="text">Звичайна ціна:</div>
					<div class="value">1768грн</div>
				</div>
				<div class="price_item new">
					<div class="text"><span>Ви економите 769грн!</span></div>
					<div class="value">999грн</div>
				</div>
			</div>
			<ul>
			    <li>Працює від акумулятора та мережі</li>
                <li>12 варіантів строчки</li>
                <li>Підходять всі види тканини</li>                
                <li>Функція "Оверлок"</li>
                <li>Можна вишивати</li>
				<li>Виробництво: Німеччина</li>
			</ul>
			<a href="#order_form" class="button">Замовити зі знижкою</a>
			<div class="products_count">Залишилось: <b>13</b> штук по акції!</div>
		</header>

		<!-- /header 3 -->
 <!-- video -->
<section class="description_section">
<h2 class="title">Відео демонстрація товару</h2>
<video width="100%" height="400px" style="border: 2px solid #005f8b; border-radius: 10px;" loop controls playsinline src="video/Video2.mp4"></video>
</section>
		<!-- problems -->

		<section class="problems_section dark_theme">
			<h2 class="title">ПЕРЕВАГИ <span>ШВЕЙНОЇ МАШИНИ</span> MERK 12В1</h2>
			<div class="benefits_list1">
				<div class="benefit_item">
					<img src="https://placehold.co/400x400/764ba2/ffffff?text=Фото" alt="Швейна машинка 12в1">
					<p><b>Працює з усіма типами тканин:</b> органза, шифон, бавовна, всі види трикотажу, шкіра, джинс та іншими.</p>
				</div>
				<div class="benefit_item">
					<img src="https://placehold.co/300x300/4facfe/ffffff?text=Фото" alt="Швейна машинка 12в1">
					<p><b>Навіть новачок впорається!</b> Конструкція унеможливлює пропуски й обриви ниток, що дає змогу якісно виконати роботу навіть не маючи досвіду!</p>
				</div>
				<div class="benefit_item">
					<img src="https://placehold.co/600x350/f093fb/ffffff?text=Банер" alt="Швейна машинка 12в1">
					<p><b>Функція "Оверлок"</b> з можливістю зшивати деталі, обрізати надлишки матеріалу і одночасно обметувати краї.</p>
				</div>
				<div class="benefit_item">
					<img src="https://placehold.co/800x500/43e97b/111111?text=Зображення" alt="Швейна машинка 12в1">
					<p><b>Металевий вертикальний човник</b> і вбудований автоматичний нитковтягувач для швидкого та зручного заправлення нитки у вушко голки.</p>
				</div>
				<div class="benefit_item">
					<img src="https://placehold.co/500x500/fa709a/ffffff?text=Товар" alt="Швейна машинка 12в1">
					<p><b>Надійна та універсальна</b>, має потужний 45 Вт двигун і внутрішній металевий каркас.</p>
				</div>
				<div class="benefit_item">
					<img src="https://placehold.co/900x450/667eea/ffffff?text=Фото+товару" alt="Швейна машинка 12в1">
					<p><b>Яскраве LED-підсвічування</b> робочої області дає можливість підвищення комфорту роботи.</p>
				</div>
			
			</div>
		</section>

		<!-- /problems -->

		<!-- description -->

		<section class="description_section">
			<h2 class="title">ПОВНОЦІННЕ АТЕЛЬЄ <span><br>У ВАС ВДОМА!<br></span></h2>
			 <img src="https://placehold.co/400x400/764ba2/ffffff?text=Фото" alt="Швейна машинка 12в1"> 
			<!--<video width="480" height="320" controls>
<source src="files/v2.mp4" type="video/mp4">
</video> -->
            <div class="text_block">
				<p> Якщо Ви часто вдаєтеся до послуг майстерень, <b>витрачаючи свій час і кошти</b> на те, щоб підшити штани або підрівняти краї сорочки, то Вам просто необхідна <b>зручна і надійна</b> у використанні швейна машина. </p>
			<img src="https://placehold.co/300x300/4facfe/ffffff?text=Фото" alt="Швейна машинка 12в1">
			<div class="text_block">
				<p> Величезний швейний потенціал. Багатий арсенал робочих, краєобметочних, еластичних і декоративних швів для реалізації різних швейних проектів. Ця швейна машина MERK 12в1 - надихає новими швейними ідеями! </p>
			<img src="https://placehold.co/600x350/f093fb/ffffff?text=Банер" alt="Швейна машинка 12в1"> 

			<a href="#order_form" class="button">Замовити</a>
			<div class="products_count">Залишилось: <b>13</b> штук по акції!</div>
           </div>
		</div></section>

			<section class="set_section">
			<h2 class="title">ХАРАКТЕРИСТИКИ ТА КОМПЛЕКТАЦІЯ</h2>
			<div class="set_list clearfix">
			<img src="https://placehold.co/800x500/43e97b/111111?text=Зображення" alt="Швейна машинка 12в1">
			
			<ul class="list4">
				<li><b>Тип:</b> Електромеханічна швейна машина 12в1</li>
				<li><b>Бренд:</b> MERK</li>
				<li><b>Модель:</b> DE-05</li>
				<li><b>Потужність:</b> 45 Вт</li>
				<li><b>Тип тканини:</b> Працює з усіма типами тканини</li>
				<li><b>Видів строчки:</b> 12</li>
				<li><b>Човник:</b> Вертикальний (хитний)</li>
				<li><b>Кількість швидкостей:</b> 2</li>
				<li><b>Довжина стібка:</b> від 0 до 4 мм</li>
				<li><b>Ширина стібка:</b> від 0 до 5 мм</li>
				<li><b>Варіант виконання петлі:</b> Автомат</li>
				<li><b>Живлення</b> від мережі або батарейок</li>
				<li><b>Час роботи від акумулятора:</b> до 2 годин</li>
				<li><b>Габарити (ВхШхД):</b> 26 х 12 х 27,5 см</li>
				<li><b>Вага, кг:</b> 2,7 кг</li>
				<li><b>Виробник:</b> Німеччина</li>
				<li><b>Комплектація:</b> Швейна машина MERK, Блок живлення від мережі, Голки - 2 шт, Ножна педалька - 1 шт, Шпульки - 2 шт, Котушка - 2 шт, Нитковдівач - 1 шт, та інструкція (у перекладі українською та англійською мовою)</li>
			</ul>
			
			</div>
			<h2 class="title"></h2>
			<!--<img class="image_bottom" src="https://placehold.co/500x500/fa709a/ffffff?text=Товар" alt="Швейна машинка 12в1">-->
			<a href="#order_form" class="button">Замовити</a>
			<div class="products_count">Залишилось: <b>13</b> штук по акції!</div>
		</section>
	
		<!-- reviews 1 -->

		<section class="reviews1_section">
			<h2 class="title">Відгуки покупців</h2>
			<div class="reviews_stats_block">
				<p><b>96%</b> покупців рекомендують цей товар</p>
				<div class="line"></div>
			</div>
			<div class="reviews_list1 owl-carousel">
				<div class="review_item">
					<div class="author_block clearfix">
						<img class="avatar" src="https://placehold.co/900x450/667eea/ffffff?text=Фото+товару" alt="Швейна машинка 12в1">
						<div class="author_info_block">
							<div class="author_info">Аліса Волкова</div>
							<div class="text">Я рекомендую цей товар іншим</div>
						</div>
						<img src="https://placehold.co/400x400/764ba2/ffffff?text=Фото" alt="Швейна машинка 12в1">
					</div>
					<div class="text_block">
						<p>Я рекомендую цю швейну машинку всім своїм друзям! Вона не тільки ефективна і надійна, але і зекономила мені час і гроші, оскільки може легко вирішувати різноманітні завдання. Я вражена її універсальністю та простотою використання, і впевнена, що інші також залишаться задоволеними своїм вибором.</p>
					</div>
				</div>
				<div class="review_item">
					<div class="author_block clearfix">
						<img class="avatar" src="https://placehold.co/300x300/4facfe/ffffff?text=Фото" alt="Швейна машинка 12в1">
						<div class="author_info_block">
							<div class="author_info">Ніна Бичко</div>
							<div class="text">Я рекомендую цей товар іншим</div>
						</div>
						<img src="https://placehold.co/600x350/f093fb/ffffff?text=Банер" alt="Швейна машинка 12в1">
					</div>
					<div class="text_block">
						<p>Я дуже задоволена швейною машинкою 12в1! Завдяки можливості працювати як на акумуляторі, так і від мережі, я завжди готовий до швидкого початку роботи навіть без електромережі. Це дуже зручно, особливо коли потрібно поробити декілька швів у різних місцях без доступу до розетки. Гарно бере будь-яку тканину: трикотаж, стрейч-котон, бабовну та інші. Рекомендую!</p>
					</div>
				</div>
				<div class="review_item">
					<div class="author_block clearfix">
						<img class="avatar" src="https://placehold.co/800x500/43e97b/111111?text=Зображення" alt="Швейна машинка 12в1">
						<div class="author_info_block">
							<div class="author_info">Ольга Побережець</div>
							<div class="text">Я рекомендую цей товар іншим</div>
						</div>
						<img src="https://placehold.co/500x500/fa709a/ffffff?text=Товар" alt="Швейна машинка 12в1">
					</div>
					<div class="text_block">
						<p>Супер! Шиє все! Зручна і для новачка, і професіонала. Вона не тільки ефективна і надійна, але і зекономила мені час і гроші, оскільки може легко вирішувати різноманітні завдання. Не плутає і не видьоргує нитку. Підходить навіть для повноцінного шиття. Без проблем проштовхує мʼякі тканини, зручна педаль в комплекті.</p>
					</div>
				</div>
			</div>
			<!--<img class="image_bottom" src="https://placehold.co/900x450/667eea/ffffff?text=Фото+товару" alt="Швейна машинка 12в1">-->
		</section>

		<!-- /reviews 1 -->

		<!-- order steps 1 dark -->

		<section class="order_steps_section dark_theme">
			<h2 class="title"><span>Як замовити?</span></h2>
			<div class="order_steps_list1 clearfix">
				<div class="step_item">
					<h4>Заявка</h4>
					<p>Залишаєте заявку на нашому сайті</p>
				</div>
				<div class="step_item">
					<h4>Дзвінок</h4>
					<p>Менеджер уточнює деталі замовлення</p>
				</div>
				<div class="step_item">
					<h4>Відправка</h4>
					<p>Доставка по всій Україні протягом 1-2 днів</p>
				</div>
				<div class="step_item">
					<h4>Отримання</h4>
					<p>Оплачуєте при отриманні на пошті</p>
				</div>
			</div>
		</section>

		<!-- /order steps 1 dark -->

		<!-- order 3 -->

		<section class="offer_section offer3">
			<div class="title_block">
				<h3 class="main_title">Швейна Машина 12в1</h3>
				<p class="subtitle">ЗАБЕЗПЕЧИТЬ ЯКІСТЬ ТА ШВИДКІСТЬ ПОШИВУ</p>
			</div>
			<div class="timer_block clearfix">
				<p>Ця пропозиція закінчиться через:</p>
				<div class="timer clearfix">
					<div class="timer_item">
						<div class="text">днів</div>
						<div class="count">00</div>
					</div>
					<div class="timer_item">
						<div class="text">годин</div>
						<div class="count hours"></div>
					</div>
					<div class="timer_item">
						<div class="text">хвилин</div>
						<div class="count minutes"></div>
					</div>
					<div class="timer_item">
						<div class="text">секунд</div>
						<div class="count seconds"></div>
					</div>
				</div>
			</div>
			<div class="image_block">
				<img class="offer_image" src="https://placehold.co/400x400/764ba2/ffffff?text=Фото" alt="Швейна машинка">
				<div class="discount_block">
					<div class="value">40%</div>
					<div class="text">знижка</div>
				</div>
			</div>
			<div class="benefits_list clearfix">
				<div class="benefit_item">100% Гарантія якості</div>
				<div class="benefit_item">Оплата при отриманні!</div>
				<div class="benefit_item">Доставка <br>1-2 дні!<br></div>
			</div>
			<div class="price_block clearfix">
				<div class="price_item old">
					<div class="text">Звичайна ціна:</div>
					<div class="value">1768 грн</div>
				</div>
				<div class="price_item new">
					<div class="text"><span>Ви економите 769грн!</span></div>
					<div class="value">999 грн</div>
				</div>
			</div>
			<form id="order_form" class="order_form" action="telegram.php" method="POST">
			<div style="display: none;">
            <input type="hidden" name="product" id="hiddenProduct" value="Швейная машинка 12В1. Цена:999 грн." hidden="hidden">
            <input type="hidden" name="servername" value="/">
             </div>
				<input class="field" type="text" onkeyup="var yratext=/['0-9',':','/','\','.']/; if(yratext.test(this.value)) this.value=''" name="name" placeholder="Введіть ваше ім'я" minlength="3" required>
				<input class="field tel" type="tel" name="phone" placeholder="Ваш номер: +38(050)1112233" minlength="15" maxlength="15"required>
				<button class="button">Замовити зараз</button>
			</form>
			<div class="products_count">Залишилось: <b>13</b> штук по акції!</div>
		</section>

		<!-- /order 3 -->

		<!-- footer -->

		<footer class="footer_section">
			<center> 
<br>
		<p> Copyright ©2024 Торгова Компанія "Notime", м. Одеса  </p>
		<p>	Сертифікат товару - 8756771</p>
		<p>	Електронна адреса: ostpv21@gmail.com</p>
		<p><a href="tel:+380977559979">Телефон: + 38 (097) 7559979</a></p>
		<p>Графік роботи: Пн-Нд 8:00 - 21:00</p><br> 
        <p><a href="politics.html" target="_blank">Політика конфіденційності</a></p>
		
                        
						
</center>
</footer></div>
  
		

		<!-- /footer -->

	

	<!-- scripts -->


<link rel="stylesheet" type="text/css" href="https://sewing.notime.com.ua/css/A.roboto.css.pagespeed.cf.JFHC9TEAgY.css">
<script src="https://sewing.notime.com.ua/js/jquery.js.pagespeed.jm.h1x-g8MGXu.js" type="text/javascript"></script>
<script src="https://sewing.notime.com.ua/js/plugins.js%2Cqv%3D1545777339.pagespeed.ce.AOFblcEqdI.js" type="text/javascript"></script>
<script src="https://sewing.notime.com.ua/js/popup-m1.js.pagespeed.jm.EsZjjQcHls.js" type="text/javascript"></script>


	<script src="https://sewing.notime.com.ua/js/previewYouTube.js.pagespeed.jm.fvhZ8Gd1mR.js"></script>
	<script src="https://sewing.notime.com.ua/js/owl.carousel.min.js.pagespeed.jm.v5TsCuoYug.js"></script>
	<script src="https://sewing.notime.com.ua/js/scripts.js"></script>
    <script src="https://sewing.notime.com.ua/jquery-2.2.2.min.js"></script>


	<!-- /scripts -->



</body></html>
